# mostly copied from alexbelgium/hassio-addons

name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths: [ "**/config.yaml" ]

jobs:
  # 1. Detect which add-on folders changed (by config.yaml modification)
  detect-changed-addons:
    if: ${{ github.repository_owner == 'ashishs1' && !contains(github.event.head_commit.message, 'nobuild') }}
    runs-on: ubuntu-latest
    outputs:
      changedAddons: ${{ steps.find_addons.outputs.changed_addons }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Find changed addon directories
        id: find_addons
        run: |
          git fetch origin "${{ github.event.before }}" || true
          changed_config_files=$(git diff --name-only "${{ github.event.before }}" "${{ github.sha }}" | grep -E '^[^/]+/config\.ya?ml$' || true)
          echo "Changed config files:"
          echo "$changed_config_files"
          changed_addons=$(echo "$changed_config_files" | awk -F/ '{print $1}' | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "Changed addons: $changed_addons"
          echo "changed_addons=$changed_addons" >> "$GITHUB_OUTPUT"
  
  # 2. Lint add-on configs
  lint_config:
    if: ${{ needs.detect-changed-addons.outputs.changedAddons != '' && needs.detect-changed-addons.outputs.changedAddons != '[]' }}
    needs: detect-changed-addons
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        addon: ${{ fromJSON(needs.detect-changed-addons.outputs.changedAddons) }}
    steps:
      - uses: actions/checkout@v6
      - name: Run Home Assistant Add-on Lint
        uses: frenck/action-addon-linter@v2
        with:
          path: "./${{ matrix.addon }}"
  
  # 3. Build the required docker images
  build:
    if: ${{ needs.detect-changed-addons.outputs.changedAddons != '' && needs.detect-changed-addons.outputs.changedAddons != '[]' }}
    needs: [detect-changed-addons, lint_config]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    name: Build ${{ matrix.arch }} ${{ matrix.addon }} add-on
    strategy:
      matrix:
        addon: ${{ fromJSON(needs.detect-changed-addons.outputs.changedAddons) }}
        arch: ["aarch64", "amd64"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }} 
      - name: Build and publish using HA builder
        uses: home-assistant/builder@master
        with:
          args: |
            --${{ matrix.arch }} \
            --target "/data/${{ matrix.addon }}" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}" \
            --cosign
